﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名:@Html.TextBox("username")</p>
<p>帳號:@Html.TextBox("na")</p>
<p>密碼:@Html.Password("pas")</p>
@Html.RadioButton("gender", "A")男性
@Html.RadioButton("gender", "B")女性<br>
@Html.CheckBox("in", "A")游泳
@Html.CheckBox("in-1", "B")閱讀
@Html.CheckBox("in-2", "C")看電影<br>
自我介紹:@Html.TextArea("message")


