﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<html>
<head>
</head>
<body>
        <p>姓名:<input type="text" name="name"></p>
        <p>帳號:<input type="text" name="na"></p>
        <p>密碼:<input type="password" name="pas"></p>
        <input type="radio" name="gender" value="A"> 男性
        <input type="radio" name="gender" value="B"> 女性<br>
        <input type="checkbox" name="in" value="in-1"> 游泳
        <input type="radio" name="gender" value="in-2">閱讀
        <input type="radio" name="gender" value="in-3"> 看電影<br>
        自我介紹:<textarea name="message" rows="10"  cols="30"></textarea>
</body>
</html>
