﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>
@{ 
    var suc = true;
}
@if (suc == true)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}
@for (var i = 1; i <= 10; i++)
{
    <p>i=@i</p>
}
<p>3+5=@(3 + 5)</p>

@{ 
   string[] fruits = { "蘋果", "香蕉","荔枝","鳳梨","西瓜" };
}
<ol>
    @foreach (var x in fruits)
    {
            <li>@x</li>
    }
 </ol>