﻿@model test.ViewModels.BMIData

@{
    ViewBag.Title = "Index";
}

<h1>BMI計算</h1>

<form action="/BMI/Index" method="post">
    <p>@Html.DisplayNameFor(a=>a.H):@Html.TextBoxFor(a=>a.H) 公分 @Html.ValidationMessageFor(a=>a.H)</p>
    <p>@Html.DisplayNameFor(b => b.W):@Html.TextBoxFor(b => b.W) 公斤 @Html.ValidationMessageFor(b => b.W)</p>
    <input type="submit" value="確認">
</form>
<p>計算結果:@Model.Bmi</p>
<p>等級:@Model.Lev</p>